.food-display {
    margin-top: 40px;
    padding-bottom: 40px;
}

.food-display h2 {
    font-size: max(2vw, 26px);
    font-weight: 600;
    color: #262626;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .food-display-list {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .food-display-list {
        grid-template-columns: 1fr;
    }
}
