.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    transition: all 0.3s ease;
}

.navbar-scrolled {
    padding: 15px 50px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #49557e;
    font-size: 18px;
    font-weight: 500;
}

.navbar-menu a {
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.navbar-menu a:hover {
    color: #ff6347;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1.5px solid #ff6347;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.navbar button:hover {
    background-color: #ff6347;
    color: white;
}

.navbar .active {
    color: #ff6347;
    border-bottom: 2px solid #ff6347;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: #ff6347;
    border-radius: 50%;
    top: -2px;
    right: -2px;
    border: 2px solid white;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}
