.login-popup {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    display: grid;
    top: 0;
    left: 0;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 350px);
    color: #676767;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 40px;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #262626;
}

.login-popup-title h2 {
    font-size: 24px;
    font-weight: 600;
}

.close-icon {
    cursor: pointer;
    color: #49557e;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #e0e0e0;
    padding: 12px;
    border-radius: 8px;
    background-color: #fcfcfc;
    transition: 0.3s;
}

.login-popup-inputs input:focus {
    border-color: #ff6347;
    background-color: white;
}

.login-popup-container button {
    border: none;
    padding: 12px;
    border-radius: 50px;
    color: white;
    background-color: #ff6347;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 99, 71, 0.3);
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 10px;
}

.login-popup-condition input {
    margin-top: 4px;
}

.login-popup p span {
    color: #ff6347;
    font-weight: 600;
    cursor: pointer;
}
